<div class="activityRules">
	<div class="activityRules_inner">
		<div class="activityRules_inner_nav">
			活动规则
		</div>
		<p>1.本活动仅限在2019年12月11日-2019年12月13日期间报名并缴纳首期学费的学员参与，在籍学员不可参与此活动；</p>
		<p>2.本活动仅限在官网报名或通过学习中心老师的二维码进行扫码报名的学员参与；</p>
		<p>3.未开启招生的高校不支持参与本活动；</p>
		<p>4.成功报名并缴纳首期学费的学员均可获得1次抽奖机会，一次只能获得一种奖品，实物奖品不可叠加，奖品数量有限，先到先得；</p>
		<p>5.中奖人务必填写准确有效的收货人信息，如因信息填写不完全或者信息填写错误导致未收到奖品，后果由中奖人自行承担；</p>
		<p>6.本次活动的奖品将在活动结束后15个工作日内安排统一发放，实物奖品概不保修、不退换；</p>
		<p>7.参与本次活动获得奖品之后申请退费的学员，应退还应退还所获得奖品原价格相等的费用；</p>
		<p>8.如有恶意操作（包括但不限于虚假刷单、机器作弊等行为），一经发现取消参与资格，并收回奖品所得；</p>
		<p><b>※活动声明：</b>活动规则以奥鹏教育发布的具体规则为准，本活动最终解释权归奥鹏教育所有。</p>
	</div>
</div>