<!--头部-开始-->
<div class="header-box">
	<dl class="clearfix">
		<dt class="clearfix">		
			<!--<a class="select-major" h一ref="/major/index.html">选专业</a>-->
			<!--<a class="select-school" href="/school/index.html">选院校</a>-->
			<a class="login" style="display: none;" href="javascript:;">
				<em>登录</em>
			</a>
			<p class="logout" style="display: none;">
				<i data-click = true></i>
				<span data-click = true>
					<a href="/dist/myRegistration">我的报名</a>
					<em>退出登录</em>
				</span>
			</p>
		</dt>
		<dd>
			<a class="main" href="/">
				<img src="../assets191212/img/openLogo.png" alt="" />
			</a>
			<i></i>
			<a class="tel" href="tel:400-813-1121">400-813-1121</a>
		</dd>
	</dl>
</div>
<!--头部-结束-->