<div class="introduce">
	<div class="introduce_inner">
		<div class="introduce_inner_tit"></div>
		<ul>
			<li>
				<div>
					<img src="../assets191212/img/cooperation.png" alt="">
				</div>
				<p class="introduce_in">合作院校300+</p>
				<p>与全国300多所院校</p>
				<p>合作，含金量高</p>
			</li>
			<li>
				<div>
					<img src="../assets191212/img/hot.png" alt="">
				</div>
				<p class="introduce_in">热门专业400+</p>
				<p>学历教育招生专业超过</p>
				<p>400个，覆盖面广</p>
			</li>
			<li>
				<div>
					<img src="../assets191212/img/service.png" alt="">
				</div>
				<p class="introduce_in">服务学生300w+</p>
				<p>为300万多学员提供优</p>
				<p>质服务，提升学历</p>
			</li>
			<li>
				<div>
					<img src="../assets191212/img/learn.png" alt="">
				</div>
				<p class="introduce_in">学习中心1840+</p>
				<p>全国有1840家学习中心为</p>
				<p>广大学员提供实时服务</p>
			</li>
		</ul>
	</div>
</div>