<div class="myprize" id="myprize">
	<div class="myprize_inner">
		<dl class="myprize_inner_top">
			<dt>
				<!-- <img class="myprize_img topgrade" src="../assets191212/img/topgrade.png" alt=""> -->
				<!-- <img class="myprize_img prize1" src="../assets191212/img/prize1.png" alt=""> -->
				<img class="myprize_img" src alt="">
				<!-- <img class="myprize_img prize3" src="../assets191212/img/prize3.png" alt=""> -->
			</dt>
			<dd>
				<p class="myprize_tit">【我的奖品】</p>
				<p class="myprize_name"></p>
				<p class="myprize_con"></p>
			</dd>
		</dl>
		<div class="myprize_inner_bottom">
			<p class="myname"></p>
			<p class="myphone"></p>
			<p class="myprize_add"></p>
			<div class="changeaddress">修改收货信息</div>
		</div>
	</div>
	<p class="myprize_notice">注意：奖品发货前可修改收货信息，奖品一旦发出，不可再修改发货信息，请填写准确的收货信息。 </p>
</div>