<div class="prizeset">
	<div class="prizeset_inner">
		<div class="prizeset_inner_nav">
			奖品设置
		</div>
		<p class="prizeset_notice"><span>※</span> 各奖品颜色均随机发放</p>
		<div class="prizeset_top">
			<div class="prizeset_top_img">
				<img class="special_img" src alt="">
			</div>
			<div class="prizeset_top_int special">
				<!-- <span>3名</span><b>特等奖：kindle电子书（价值999元）</b> -->
			</div>
		</div>
		<ul>
			<li class="prize1li">
				<!-- <div class="prize1">
					<img class="prize1li_img" src alt="">
				</div> -->
				<!-- <div class="prizeset_top_int">
					<span>9名</span><b>一等奖：</b>
				</div>
				<p>美的扫地机器人（价值699元）</p> -->
			</li>
			<li class="prize2li">
				<!-- <div class="prize2">
					<img class="prize2li_img" src alt="">
				</div> -->
				<!-- <div class="prizeset_top_int">
					<span>30名</span><b>二等奖：</b>
				</div>
				<p>限量版奥鹏双肩包</p>
				<p>（价值299元）</p> -->
			</li>
			<li class="prize3 prize3li">
				<!-- <div class="prize1">
					<img class="prize3li_img" src alt="">
				</div> -->
				<!-- <div class="prizeset_top_int">
					<span>666名</span><b>三等奖：</b>
				</div>
				<p>奥鹏大礼包(内含奥鹏定</p>
				<p>制笔记本一个,价值129元)</p> -->
			</li>
		</ul>
	</div>
</div>