<div class="school">
	<div class="school_inner">
		<div class="school_inner_tit"></div>
		<p class="school_inner_intro">（排名不分先后，其中未开启招生的高校不支持参与本次活动）</p>
	</div>
	<ul class="school_edu">
		<li>
			<a href="http://m.open.com.cn/school/10032.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/byy.png" class="lazy"  alt="">
				</div>
				<p>北京语言大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10055.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/nkdx.png" class="lazy"  alt="">
				</div>
				<p>南开大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10141.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dllgd.png" class="lazy"  alt="">
				</div>
				<p>大连理工大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10200.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dbsd.png" class="lazy" alt="">
				</div>
				<p>东北师范大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10159.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgykdx.png" class="lazy" alt="">
				</div>
				<p>中国医科大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10145.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dbd.png" class="lazy" alt="">
				</div>
				<p>东北大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10394.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/djsf.png" class="lazy" alt="">
				</div>
				<p>福建师范大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10183.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/jldx.png" class="lazy" alt="">
				</div>
				<p>吉林大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10635.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/xndx.png" class="lazy" alt="">
				</div>
				<p>西南大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10698.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/xajtdx.png" class="lazy" alt="">
				</div>
				<p>西安交通大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10626.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/scnydx.png" class="lazy" alt="">
				</div>
				<p>四川农业大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/11901.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/scdx.png" class="lazy" alt="">
				</div>
				<p>四川大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10173.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dbcj.png" class="lazy" alt="">
				</div>
				<p>东北财经大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10007.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/bjlg.png" class="lazy" alt="">
				</div>
				<p>北京理工大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10613.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/xnjtdx.png" class="lazy" alt="">
				</div>
				<p>西南交通大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10030.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/bwgyd.png" class="lazy" alt="">
				</div>
				<p>北京外国语大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10511.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/hzsf.png" class="lazy" alt="">
				</div>
				<p>华中师范大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10224.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dbnyd.png" class="lazy" alt="">
				</div>
				<p>东北农业大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10730.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/lzdx.png" class="lazy" alt="">
				</div>
				<p>兰州大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10027.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/bsd.png" class="lazy" alt="">
				</div>
				<p>北京师范大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10036.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dwjjmy.png" class="lazy" alt="">
				</div>
				<p>对外经济贸易大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10004.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/bjd.png" class="lazy" alt="">
				</div>
				<p>北京交通大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10614.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/dkj.png" class="lazy" alt="">
				</div>
				<p>电子科技大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10295.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/jndx.png" class="lazy" alt="">
				</div>
				<p>江南大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10013.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/byz.png" class="lazy" alt="">
				</div>
				<p>北京邮电大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10033.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgcmdx.png" class="lazy" alt="">
				</div>
				<p>中国传媒大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10046.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zyyyxy.png" class="lazy" alt="">
				</div>
				<p>中央音乐学院</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/b0001.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/byx.png" class="lazy" alt="">
				</div>
				<p>北京大学(医学)</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10002.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgrmdxbj.png" class="lazy" alt="">
				</div>
				<p>中国人民大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10026.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/bzyd.png" class="lazy" alt="">
				</div>
				<p>北京中医药大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10056.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/tjdx.png" class="lazy" alt="">
				</div>
				<p>天津大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/10699.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/xbgydx.png" class="lazy" alt="">
				</div>
				<p>西北工业大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/11414.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgsydxhd.png" class="lazy" alt="">
				</div>
				<p>中国石油大学(华东)</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/11415.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgdzdxbj.png" class="lazy" alt="">
				</div>
				<p>中国地质大学(北京)</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/11414.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgsydxhd.png" class="lazy" alt="">
				</div>
				<p>中国石油大学(华东)</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/21414.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/zgsydxbj.png" class="lazy" alt="">
				</div>
				<p>中国石油大学(北京)</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/51315.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/gdkfdx.png" class="lazy" alt="">
				</div>
				<p>广州开放大学</p>
			</a>
		</li>
		<li>
			<a href="http://m.open.com.cn/school/51357.html" target="_blank">
				<div class="school_logo">
					<img data-original="./assets191212/img/ynkfdx.png" class="lazy" alt="">
				</div>
				<p>云南开放大学</p>
			</a>
		</li>
	</ul>
	<div class="school_btn">查看更多</div>
</div>