<div class="success bounceIn">
	<div class="err1">
		<!-- <p>您已经成功参加了抽奖活动，</p>
		<p>请不要重复提交信息了哦！</p> -->
	</div>
	<div class="err2">
	<!-- 	<p>非常抱歉，本活动仅限</p>
		<p>2019年12月11日-12月13日期间</p>
		<p>报名并缴纳首期学费的学员参与哦。</p> -->
	</div>
	<div class="err3">
	<!-- 	<p>本活动仅限在官网报名或者</p>
		<p>在学习中心扫码报名的学员参与哦~ </p> -->
	</div>
	<div class="err4">
		<!-- <h4>活动攻略</h4>
		<p>1.点击“GO”之后转盘转动，最终指针指着的即为用户所中奖品。</p>
		<p>2.抽中奖品之后，在页面上填写正确的收货人姓名，电话以及收货地址等信息，奖品将在活动结束后15个工作日内统一发出。实物奖品一旦发出，一律不保修，不退换。</p>
		<p>3.每个已缴纳首期学费的用户拥有1次抽奖机会，1次只能抽取一种奖品，奖品不可叠加。</p> -->
	</div>
	<div class="err5">
		<div>
			<img src="../assets191212/img/errbg.png" >
		</div>
		<p>哎呀太遗憾了，你和奖品仅差0.1厘米~ </p>
	</div>
	<div class="err6">
		<p><i class="iconfont tan">&#xe724;</i><span></span></p>
	</div>
	<div class="suc btn">
		确定
	</div>
</div>