.form-first {
    display: none;
    margin-top: -2.506rem;
	position: relative;
	.cls{
		position: absolute;
		top:0;
		right: 0;
		font-size: 0.5rem;
		padding: 0.1rem 0.2rem;
	}
    ul {
        width: 4.46rem;
        margin: auto;
        margin-top: 0.28rem;
        li {
            font-size: 0;
            margin-bottom: 0.18rem;
            input {
                width: 3rem;
                font-size: 0.24rem;
                line-height: 0.4rem;
                text-indent: 0.24rem;
                position: relative;
                top: -0.08rem;
            }
            span {
                font-size: 0.24rem;
                vertical-align: top;
                display: inline-block;
                width: 1.26rem;
                text-align: right;
            } 
            textarea {
                outline: none;
                border: solid 0.02rem #b5b5b5;
                width: 3rem;
                font-size: 0.24rem;
                height: 0.88rem;
                text-indent: 0.24rem;
                line-height: 0.4rem;
                resize : none;
            }
        }
    }
}
input {
    outline: none;
    border: solid 0.02rem #b5b5b5;
    height: 0.48rem;
    line-height: 0.56rem;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem
}