.footer-common{
    padding: 0.49rem 0 0.59rem;
    font-size: 0.24rem;
    color: #fff;
    background-color: #071432;
    text-align: center;
    dt{
        font-size: 0.32rem;
    }
    .copyright{
        padding: 0 0 0.29rem;
    }
}
